# Python build files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/

# Large file types (models, audio, cache, etc.)
*.wav
*.mp3
*.pt
*.pkl
*.zip
*.tar
*.log

# Torch or Whisper cache
.cache/
.torch/
.groq/
datasets/

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/
